*{
    margin: 0;
    padding: 0;
}



/*header*/

#logo{
    height: 13rem;
    width: 16rem;
    padding: 2.5rem;
}
.h-75{
    height: 75vh;
}
 nav, .container-fluid, .navbar, .navbar-expand-lg ,.bg-body-tertiary, .navbar-brand{
    background-color: #052896;
    color: white;
    margin-top: 0;
width: 100vw;
}
nav{
    height: 12vh;
    margin-top: -10px;
}
.nav-link {
    color: white;
    padding: 1.5rem;
    font-size: 25px;
    margin: 14px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.nav-link:hover{
    color: #FEA802;
   
}
.navbar-collapse{
    width: 100vw;
}
.container-home{
    width: 320px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: -550px;
  margin-top: 200px;
  margin-left: 300px;
  padding: 2rem;
  border-radius: 10px;
}
.span-home{
    color: #052896;
}
#hs{
    color: #FEA802;
}
.title{
    font-weight: 800;
    font-size: 40px;
}
.text-home{
    font-size: 19px;
}
.img-header{
    background: url(../img/Microcontroladores.jpg) no-repeat ;
   
    width: 100vw;
    height: 67vh;
}
/*Começo da introdução*/

.container-intro{
    width: 100vw;
    padding: 5rem;
    background-color: #8B8B8A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.intro-img{
    height: 350px;
    width: 410px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}
.container-text-intro{
    text-align: justify;
    width: 500px;
    font-size: 20px;
    position: relative;
    margin-left: 250px;
    color: black;
}
.button-intro{
    background-color: #FEA802;
    padding: 2rem;
    text-decoration: none;
    color: white;
    position: relative;
    display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
    width: 10rem;
    height: 4rem;
   border-radius: 10px;
   cursor: pointer;
}
.button-intro:hover{
    background-color: #feaa0288;
    
}
.border-yel
{
    width: 300px;
    height: 200px;
    background-color: #FEA802;
    border-radius: 15px;
   margin-left: -460px;
   margin-top: -200px;
}
/*começo da seção de historia*/
.container-hist{
    width: 100vw;
    background-color: #D9D9D9;
    display: flex;
    padding: 5rem;
    font-size: 20px;
    justify-content: center;
}
.container-img-hist{
    padding: 3rem;
}
.img-text{
    height: 35rem;
    width: 29rem;
   border: #FEA802 solid 5px;
   border-radius: 15px;
}
.container-text-hist{
    padding: 3rem;
    width: 45vw;
}
.title-hist{
    margin-bottom: 20px;
    color: #FEA802;
    font-size: 40px;
    font-weight: 800;
}
.text-blue{
    font-size: 44px;
    font-weight: 900;
    color: #052896;
}

/*sobre nós*/
.container-sobre{
    display: flex;
    width: 100vw;
    padding: 5rem;
    align-items: center;
    justify-content: center;
    background-color: #A6A6A6;
}
.sobre-text{
    width: 30vw;
    height: 20vh;
    margin: 20px;
    padding: 1rem;
    background-color: #d9d9d9bd;
    border-radius: 15px;
    border: #FEA802 solid 3px;
}
.title-sobre{
    text-align: center;
    font-size: 25px;
   color: #FEA802;
   margin-bottom: 12px;
}
.list-sobre{
    list-style: none;
 text-align: justify;
 display: flex;
 justify-content: center;
 position: relative;
 flex-direction: column;
 align-items: center;
}
.container-form-big{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #8B8B8A;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}
/*serviços*/
.container-setores{
    width: 100vw;
    background-color: #747474;
    padding: 2rem;
    color: #FEA802;
    font-size: 40px;
    display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
}
.setores{
display: flex;
margin-top: 30px;
}
.hard-setor, .soft-setor, .redes-setor{
    border: #FEA802 3px solid;
    border-radius: 15px;
    width: 28vw;
    height: 50vh;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A6A6A6;
}
.hard-setor::after{
    content: url(../img/dellcomputador.avif);
    padding: 1rem;
}
.soft-setor::after{
    content: url(../img/linux.png);
    padding: 1rem;
}
.redes-setor::after{
    content: url(../img/caborede.png);
    padding: 1rem;
  
   
    
}
.hard-setor:hover:after{
    content: 'Hardware é a parte física de um sistema de computador, compreendendo todos os componentes eletrônicos, dispositivos mecânicos e periféricos.';
text-align: justify;
display: flex;
justify-content: center;
padding: 2rem;
align-items: center;
    color: black;
    font-size: 1.5rem;
}
.soft-setor:hover:after{
    content: 'Software é um conjunto de instruções e dados eletrônicos que são processados por um computador ou dispositivo digital. Ele fornece funcionalidades e soluções para realizar tarefas específicas, como processamento de dados.';
text-align: justify;
display: flex;
justify-content: center;
padding: 2rem;
align-items: center;
    color: black;
    font-size: 1.5rem;
}
.redes-setor:hover:after{
    content: 'Redes é toda a parte de cabeamento, que irá fazer funcionar todas as outras áreas, como por exemplo o cabo de rede e cabo elétrico.';
text-align: justify;
display: flex;
justify-content: center;
padding: 2rem;
align-items: center;
    color: black;
    font-size: 1.5rem;
}
/*formulario*/
.form{
    width: 35vw;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 padding: 3rem;
 background-color: #A6A6A6;
 border-radius: 15px;
 border: #FEA802 solid 3px;
}
.input-text{
    width: 15rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position:relative;
    justify-content: space-around;
}
.button-form{
    margin-top: 15px;
    width: 20vw;
    background-color: #FEA802;
    display: flex;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    padding: 0.1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.button-form:hover{
    background-color: #e4a935ee;
}
.container-button-form{
    display: flex;
   align-items: center;
   justify-content: center;
}
.logo-form{
    width: 180px;
    height: 100px;
}
.cadastro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*seção de localização*/
.container-localiza{
    background-color: #D9D9D9;
    width: 100vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.text-maps,.maps{
    background-color: white;
    padding: 3rem;
    border: #052896 solid 3px;
    border-radius: 15px;
    width: 33vw;
    height: 40vh;
    margin: 10px;
    margin-right: 30px;

} 
.text-maps{
    font-size: 20px;
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   height: 33vh;
   
}
.cont-localiza{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-local{
    width: 33vw;
    height: 70vh;
    border-radius: 15px;
   
}
.img-localiza{
    border: #052896 solid 3px;
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    height: 76vh;
    margin-right: 30px;
}
.container-img-text{
    display: flex;
    

}
.title-localiza{
    display: flex;
  align-items: center;
   font-size: 40px;
   color: #FEA802;
  
    margin-bottom: 20px;
    margin-top: 15px;
}
.setor, .localiza, .reuniao, .reuniao-group, .setor-group{
    margin-top: 10px;
}
/*footer*/
.footer, footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    background-color: #052896;
    padding: 2rem;
 
    align-items: center;
    color: white;
}
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.icon{
    width: 50px;
    height: 50px;
}
.container-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}
.title-footer{
    font-size: 40px;
    font-weight: 900;
}
a{
    text-decoration: none;
    color: white;
}
/*botão voltar*/
#link-topo{
cursor: pointer;
position: fixed;
right: 10px;
bottom: 10px;
padding: 1.5rem;

}
/*responsivo*/
@media (max-width:1500px){
    .sobre-text{
        padding: 2rem;
       font-size: 0.7rem;
    }
    .hard-setor, .soft-setor, .redes-setor{
        height: 60vh;
        width: 30vw;
        padding: 1rem;
    }
.text-maps, .maps{
    padding: 1.5rem;
}
.maps2{
    width: 28vw;
    height: 32vh;
    
}
#link-topo{
    right:-10px;
    
}
.button-responsivo{
    width: 2rem;
    height: 2rem;
}
header, .img-header, .container-intro, .container-hist, .container-form-big, .container-localiza, .footer{
    width: 100vw;
}
}
@media (max-width:1024px){
    .container-home{
        padding: 1.5rem;
        height: 37vh;
    }
    .text-home{
        font-size: 1rem;
    }
    .container-hist{
        display: flex;
        flex-direction: column;
    }
    .container-text-hist{
        width: 80vw;
    }
   .sobre-text{
font-size: 0.5rem;
margin-bottom: 10px;
height: 25vh;
 }
 .title-sobre{
    font-size: 1.2rem;
margin-top: 0px;

}
.setores{
    display: flex;
    flex-direction: column;
}
.hard-setor, .soft-setor, .redes-setor{
    height: 75vh;
    width: 42vw;
    text-align: justify;
}
.form{
    width: 60vw;
}
.img-localiza{
   display: none;
}
.cont-localiza{
    display: flex;
    flex-direction: row;
}
.text-maps{
    padding: 1rem;
    font-size: 1rem;
}

}
@media (max-width:912px){
.container-home,.container-intro, .carousel-inner{
    display: none;
}

.container-sobre{
   display: flex;
   flex-direction: column;
}
.sobre-text{
    font-size: 1rem;
    width: 60vw;
    height: 20vh;
}
.title-sobre{
    font-size: 1.5rem;
}
.hard-setor, .soft-setor, .redes-setor{
    height: 50vh;
    width: 56vw;
    text-align: justify;
}
.cont-localiza{
    display: flex;
    flex-direction: column;
}
.text-maps, .maps{
    width: 60vw;
    height: 25vh;
}
.maps2{
    width: 50vw;
    height: 20vh;
}
.img-header{
    display: none;
}
.icon{
    width: 2rem;
    height: 2rem;
}
.title-hist{
    margin-top: 15px;
}
}
@media(max-width:600px){
    *{
        padding: 0;
        width: 0;
        font-size: 1rem;
    }
    header, .img-header, .container-intro, .container-hist, .container-form-big, .container-localiza, .footer{
        width: 100vw;
    }
    .title-hist{
        margin-top: 40px;
    }
    .responsivo-text{
        padding: 0.1rem;
        margin: 0;
        margin-left: -70px;
        width: 80vw;
        height: 25vh;
        display: flex;
        flex-direction: column;
       
        font-size: 0.3rem;
       
    }
    .container-hist{
        height: 120vh;
    }
 .container-img-hist{
   display: flex;
   justify-content: center;
   margin-left: 100px;

 }
 .img-text{
    
    height: 27rem;
 }
 .p-responsivo{
    width: 80vw;
 }
 .p-responsivo-sobre{
    width: 50vw;
   
 }
 .sobre-text{
    width: 60vw;
    height: 25vh;
 }
 #link-topo{
    right:9px;
    
}
 .setores{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .hard-setor, .soft-setor, .redes-setor{
    margin-left: -150px;
    width: 75vw;
  
 }

 .logo-form{
    display: none;
 }
 form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -220px;
 }
.input-text{
    width: 35vw;
    border-radius: 10px;
}
.input-group{
    display: flex;
    flex-direction: column;
   
}
label{
    width: 80vw;
}
.p-form{
    width: 70vw;
}
#outros{
    width: 33vw;
}
input{
    width: 5vw;
}
.title-responsivo{
    width: 40vw;
    text-align: center;
font-size: 30px;
}
.title-localiza{
width: 60vw;
text-align: center;
}
    }
  
